
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url('Homepg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.animation-overlay {
    position: relative; 
    margin-bottom: 20px;
}


.welcome-text {
    color: rgb(224, 243, 84);
    font-family: 'Helvetica', sans-serif;
    font-size: clamp(1.5rem, 5vw, 3rem);
    text-align: center;
    z-index: 0;
    position: relative;
    margin: 0; 
    padding-top: 20px;

}
.play-game-button,
.instructions-button {
    background-color: #45cd20;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    z-index: 2;
}

.play-game-button:hover,
.instructions-button:hover {
    background-color: #0d9e3d;
}

.play-game-button:active,
.instructions-button:active {
    background-color: #004085;
}
